*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background:steelblue;
}

.app{
    background:slategray;
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}

.container{
  background-color: slategray;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-style: solid;
}

header h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

header p {
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px;
}

.pads{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    display: block;
  }
  
  .pads > div{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    flex: 1;
    border-style:inset;
    border-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;

  }
  
  .positivePad{
    background: #60d394;
    opacity: 100%;
  }

  .positivePad :hover{
   opacity: 50%;
   color: white;
  }

  .positivePad p {
      padding-top: 30%;
      font-size: 20px;
  }
 
  
  .couragePad{
    background: #d36060;
    opacity: 100%;
  }

  .couragePad :hover{
    opacity: 50%;
    color: white;
  }

  .couragePad p {
    padding-top: 35%;
    font-size: 20px;
}
  
  .partyPad{
    background: #c060d3;
    opacity: 100%;
  }

  .partyPad :hover{
    opacity: 50%;
    color: white;
  }

  .partyPad p {
    padding-top: 35%;
    font-size: 20px;
  }
  
  .ponderPad{
    background: #d3d160;
    opacity: 100%;
  }

  .ponderPad :hover{
    opacity: 50%;
    color: white;
  }

  .ponderPad p{
    padding-top: 35%;
    font-size: 20px;
  }
  
  .directions{
    padding-top: 20px;
  }
  
