*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.app{
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}

.container{
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-style: solid;
}

header h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

header p {
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px;
}

.pads{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    display: block;
  }
  
  .pads > div{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    flex: 1;
  }
  
  .positivePad{
    background: #60d394;
  }

  .positivePad p {
      padding-top: 35%;
      font-size: 20px;
  }
 
  
  .couragePad{
    background: #d36060
  }

  .couragePad p {
    padding-top: 35%;
    font-size: 20px;
}
  
  .partyPad{
    background: #c060d3
  }

  .partyPad p {
    padding-top: 35%;
    font-size: 20px;
  }
  
  .ponderPad{
    background: #d3d160
  }

  .ponderPad p{
    padding-top: 35%;
    font-size: 20px;
  }
  
  .directions{
    padding-top: 20px;
  }
  
